<div>
    <h3 mat-dialog-title>{{data.task ? 'Edit' : 'Add'}} Task: {{data.task ? data.task.task_title : ''}}</h3>
    <mat-dialog-content>
        <form [formGroup]="taskForm">
            <mat-form-field class="basic-input">
                <mat-label>Name</mat-label>
                <input matInput formControlName="task_title" />
            </mat-form-field>
            <mat-form-field class="desc-input">
                <mat-label>Description</mat-label>
                <textarea matInput formControlName="task_description" cdkTextareaAutosize
                    #autosize="cdkTextareaAutosize" cdkAutosizeMinRows="1" cdkAutosizeMaxRows="3"></textarea>
            </mat-form-field>
            <mat-form-field class="basic-input">
                <mat-label>Type</mat-label>
                <mat-select formControlName="task_type">
                    @for (taskType of taskTypes; track taskType) {
                    <mat-option [value]="taskType">{{taskType}}</mat-option>
                    }
                </mat-select>
            </mat-form-field>
            <mat-form-field class="basic-input">
                <mat-label>Sprint</mat-label>
                <mat-select formControlName="sprint_id">
                    <mat-option [value]="null">---</mat-option>
                    @for (sprint of sprintsForProject; track sprint.sprint_id ) {
                    <mat-option [value]="sprint.sprint_id">{{sprint.sprint_name}}</mat-option>
                    }
                </mat-select>
            </mat-form-field>
            <mat-form-field class="basic-input">
                <mat-label>Priority</mat-label>
                <mat-select formControlName="priority">
                    @for (priority of priorities; track priority) {
                    <mat-option [value]="priority">{{priority}}</mat-option>
                    }
                </mat-select>
            </mat-form-field>
            <mat-form-field class="basic-input">
                <mat-label>Status</mat-label>
                <mat-select formControlName="status">
                    @for (status of taskStatuses; track status) {
                    <mat-option [value]="status">{{status}}</mat-option>
                    }
                </mat-select>
            </mat-form-field>
            <mat-form-field class="basic-input">
                <mat-label>Assignee</mat-label>
                <mat-select formControlName="assignee_id">
                    <mat-option [value]="null">---</mat-option>
                    @for (assignee of usersForProject; track assignee.user_id ) {
                    <mat-option [value]="assignee.user_id">{{assignee.first_name}} {{assignee.last_name}}</mat-option>
                    }
                </mat-select>
            </mat-form-field>
            <mat-form-field class="basic-input">
                <mat-label>Effort</mat-label>
                <mat-select formControlName="effort">
                    <mat-option [value]="null">---</mat-option>
                    @for (effort of taskEfforts; track effort) {
                        <mat-option [value]="effort">{{effort}}</mat-option>
                    }
                </mat-select>
            </mat-form-field>
        </form>
        
        <div *ngIf="this.data.task">
            <p style="font-size: large; padding-top: 30px">Comments:</p>
            <form [formGroup]="newCommentForm">
                <mat-form-field class="comment-input">
                    <mat-label>add a comment</mat-label>
                    <textarea matInput formControlName="newComment" cdkTextareaAutosize #autosize="cdkTextareaAutosize"
                        cdkAutosizeMinRows="1" cdkAutosizeMaxRows="2"></textarea>
                </mat-form-field>
                <button mat-button type="submit" (click)="addComment()">Add</button>
            </form>
            <mat-list>
                @for (comment of taskUnderEdit.comments; track comment.comment_id) {
                <mat-list-item>
                     {{ comment.comment_text }}
                    <button mat-icon-button matListItemMeta (click)="deleteComment(comment)">
                        <mat-icon>delete</mat-icon>
                    </button>
                </mat-list-item>
                }
            </mat-list>
        </div>
        </mat-dialog-content>
    <mat-dialog-actions>
        <button mat-button (click)="cancel()">Cancel</button>
        <button mat-button cdkFocusInitial (click)="submit()">{{data.task ? 'Update' : 'Create'}}</button>
    </mat-dialog-actions>
</div>