.project-detail-container {
    border-radius: 4px;
    box-shadow: 0 2px 4px rgba(0,0,0,.1);
    padding: 20px;
    margin-top: 20px;
  }

  mat-form-field {
    margin-bottom: 10px;
  }

.basic-input {
    padding-right: 10px;
}

.desc-input{
    width: 900px;
}

.assignee-container {
    width: 100%;
}

.actions-bar {
    padding-top: 10px;
}