.project-details {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: flex-start;
    border-radius: 4px;
    box-shadow: 0 4px 8px rgba(0,0,0,.2);
    padding: 10px;
}

  mat-form-field {
    margin-bottom: 10px;
  }

  .edit-title {
    padding-top: 30px;
    padding-left: 20px;
  }

.basic-input {
    padding-right: 10px;
}

.actions-bar {
    padding-top: 10px;
    align-self: flex-end;
}

.sprints-header {
    display: flex;
    flex-direction: row;
    gap: 20px
}

.sprints-title {
  font-size:large;
  padding-top:5px;
  color:#ffabf3;
  font-weight: bold;

}
