<div class="edit-title">
    <h4>Edit {{project.project_name}}</h4>
</div>
<mat-card>
    <mat-card-content class="project-details">
        <div>
            <form [formGroup]="projectForm">
                <mat-form-field class="basic-input">
                    <mat-label>Name</mat-label>
                    <input matInput formControlName="project_name">
                </mat-form-field>

                <mat-form-field>
                    <mat-label>Add User</mat-label>
                    <mat-select (selectionChange)="addUser($event.value)">
                        <mat-option *ngFor="let user of availableUsers" [value]="user">
                            {{user.first_name}} {{user.last_name}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </form>
            <mat-chip-listbox>
                <mat-label>Collaborators:</mat-label>
                <mat-chip *ngFor="let user of projectUsers()" (removed)="removeUser(user)">
                    <mat-icon matChipAvatar>person</mat-icon>
                    {{user.first_name}}
                    <button matChipRemove>
                        <mat-icon>cancel</mat-icon>
                    </button>
                </mat-chip>
            </mat-chip-listbox>
        </div>

        <div>
            <div class="sprints-header">
                <p style="font-size:large;padding-top:5px;">Sprints:</p>
                <button mat-icon-button (click)="addSprint()">
                    <mat-icon>add</mat-icon>
                </button>
            </div>
            <mat-list>
                @for (sprint of projectSprints(); track sprint.sprint_id) {
                <mat-list-item>
                    <span matListItemTitle>
                        {{sprint.sprint_name}} : {{ sprint.start_date | date }} - {{ sprint.end_date | date }}
                    </span>
                    <button mat-icon-button matListItemMeta (click)="editSprint(sprint)">
                        <mat-icon>edit</mat-icon>
                    </button>
                    <button mat-icon-button matListItemMeta (click)="deleteSprint(sprint)">
                        <mat-icon>delete</mat-icon>
                    </button>
                </mat-list-item>
                }
            </mat-list>
        </div>

        <div class="actions-bar">
            <button mat-raised-button color="primary" type="submit" (click)="onSubmit()"
                [disabled]="projectForm.invalid">Save</button>
            <button mat-button type="button" (click)="onCancel()">Cancel</button>
        </div>

    </mat-card-content>
</mat-card>