<div class="project-header">
  <form [formGroup]="projectInput">
    <mat-form-field>
      <mat-label>Choose project</mat-label>
      <mat-select formControlName="project" (selectionChange)="onProjectChange($event)">
        @for (project of projects; track project) {
        <mat-option [value]="project.id">{{project.name}}</mat-option>
        }
      </mat-select>
    </mat-form-field>
  </form>
  <button mat-fab extended (click)="openTaskDetail()">
    <mat-icon>add</mat-icon>
    Task
  </button>
  <button mat-fab extended (click)="openSprint()">
    <mat-icon>add</mat-icon>
    Sprint
  </button>
  <div class="filters">
    <form [formGroup]="taskboardFilters">
      <mat-form-field style="padding-right: 10px"> 
        <mat-label>Filter by sprint</mat-label>
        <mat-select formControlName="sprint">
          <mat-option [value]=null>---</mat-option>
          @for (sprint of sprints; track sprint.id) {
          <mat-option [value]="sprint.id">{{sprint.name}}</mat-option>
          }
        </mat-select>
      </mat-form-field>
      <mat-form-field style="padding-right: 10px">
        <mat-label>Filter by priority</mat-label>
        <mat-select formControlName="priority">
          <mat-option [value]=null>---</mat-option>
          @for (priority of priorities; track priority) {
          <mat-option [value]="priority">{{priority}}</mat-option>
          }
        </mat-select>
      </mat-form-field>
      <mat-form-field>
        <mat-label>Filter by assignee</mat-label>
        <mat-select formControlName="assignee">
          <mat-option [value]=null>---</mat-option>
          @for (assignee of assignees; track assignee.id) {
          <mat-option [value]="assignee.id">{{assignee.name}}</mat-option>
          }
        </mat-select>
      </mat-form-field>
    </form>
  </div>
</div>