<div class="project-header">
  <form [formGroup]="projectInput">
    <mat-form-field>
      <mat-label>Choose project</mat-label>
      <mat-select formControlName="project" (selectionChange)="onProjectChange($event)">
        <mat-option [value]=null>---</mat-option>
        @for (project of projects; track project) {
        <mat-option [value]="project.project_id">{{project.project_name}}</mat-option>
        }
      </mat-select>
    </mat-form-field>
  </form>
  <button mat-fab extended [disabled]="selectedProjectId == null" (click)="addNewTask()">
    <mat-icon>add</mat-icon>
    Task
  </button>
  <div class="filters">
    <form [formGroup]="taskboardFilters">
      <mat-form-field style="padding-right: 10px"> 
        <mat-label>Filter by sprint</mat-label>
        <mat-select formControlName="sprint">
          <mat-option [value]=null>---</mat-option>
          @for (sprint of sprintsForProject(); track sprint.sprint_id) {
          <mat-option [value]="sprint.sprint_id">{{sprint.sprint_name}}: {{formatDateString(sprint.start_date.toString())}}-{{formatDateString(sprint.end_date.toString())}}</mat-option>
          }
        </mat-select>
      </mat-form-field>
      <mat-form-field style="padding-right: 10px">
        <mat-label>Filter by priority</mat-label>
        <mat-select formControlName="priority">
          <mat-option [value]=null>---</mat-option>
          @for (priority of priorities; track priority) {
          <mat-option [value]="priority">{{priority}}</mat-option>
          }
        </mat-select>
      </mat-form-field>
      <mat-form-field>
        <mat-label>Filter by assignee</mat-label>
        <mat-select formControlName="assignee">
          <mat-option [value]=null>---</mat-option>
          @for (user of usersForProject(); track user.user_id) {
          <mat-option [value]="user.user_id">{{user.first_name}} {{user.last_name}}</mat-option>
          }
        </mat-select>
      </mat-form-field>
    </form>
  </div>
</div>