.project-header {
    padding-left: 20px;
    padding-top: 10px;
    display: flex;
    align-items: stretch;
    gap: 30px;
    margin-top: 15px;
  }

  .filters {
    display: flex;
    justify-content: flex-end;
    align-items: end;
    width: 50%;
  }