<div class="project-header"> 
  <form [formGroup]="projectInput">
    <mat-form-field>
      <mat-select formControlName="project">
        @for (project of projects; track project) {
          <mat-option [value]="project.value">{{project.name}}</mat-option>
        }
      </mat-select>
    </mat-form-field>
</form>
    <button mat-fab extended (click)="openTaskDetail()">
        <mat-icon>add</mat-icon>
        Task
      </button>
    <button mat-fab extended (click)="openSprint()">
      <mat-icon>add</mat-icon>
      Sprint
    </button>
</div>