<mat-toolbar class="toolbar" color="accent">
    <mat-toolbar-row>
        <h4>YOU-KAN  - toolbar -</h4>
    </mat-toolbar-row>
</mat-toolbar>
<div class="app-container">
    <mat-sidenav-container class="full-height-container">
        <!-- Left sidenav -->
        <mat-sidenav mode="side" opened class="side-nav-detail">
            <p>SIDE NAVIGATION</p>
        </mat-sidenav>

        <mat-sidenav-content>
            <app-dashboard-action-bar></app-dashboard-action-bar>
            <div class="column-wrapper">
                <app-column></app-column>
                <app-column></app-column>
                <app-column></app-column>
                <app-column></app-column>
                <app-column></app-column>
            </div>
        </mat-sidenav-content>
    </mat-sidenav-container>
</div>