<mat-toolbar class="toolbar">
    <mat-toolbar-row>
        <h4>YOU-KAN</h4>
    </mat-toolbar-row>
</mat-toolbar>
<div class="app-container">
    <mat-sidenav-container class="full-height-container">
        <!-- Left sidenav -->
        <mat-sidenav mode="side" opened class="side-nav-detail">
            <p>SIDE NAVIGATION</p>
        </mat-sidenav>

        <mat-sidenav-content>
            <div class="project-header"> 
                <h4>Project XYZ</h4>
            </div>
            <div class="column-wrapper">
                <app-list-column></app-list-column>
                <app-list-column></app-list-column>
                <app-list-column></app-list-column>
                <app-list-column></app-list-column>
            </div>
        </mat-sidenav-content>
    </mat-sidenav-container>
</div>