.app-container {
    display: flex;
    flex-direction: column;
    height: 100vh; 
  }
  
  .full-height-container {
    flex: 1; 
  }

  .side-nav-detail {
    border-right-color: beige;
    max-width: 200px;
  }

  .toolbar {
    background-color: indigo;
  }

  .column-wrapper {
    justify-content: space-evenly;
    align-items: stretch;
    display: flex;
    height: 100vh;   
    gap: 10px; 
  }

  .project-header {
    padding-left: 25px;
    padding-top: 10px;
  }