.app-container {
    display: flex;
    flex-grow: 1;
    overflow: auto;
  }
  
  .side-nav-detail {
    border-right-color: beige;
    max-width: 150px;
    padding-top: 50px;
  }

  .toolbar {
    background-image: linear-gradient(to left, rgba(255,0,0,0), rgb(64, 4, 117));
    ; 
  } 

  .toolbar-actions {
    display: flex;
    justify-content: flex-end;
    width: 100%;
    gap: 5px;
  }



