<mat-toolbar *ngIf="isLoggedIn" class="toolbar" color="primary">
    <mat-toolbar-row>
        <h4><img src="assets/images/youkan-transparent.png" height="175px" width="115px"></h4>
        <div class="toolbar-actions">
            <button mat-mini-fab (click)="openUserDetail()">
                <mat-icon>account_circle</mat-icon>
            </button>
            <button mat-icon-button (click)="logout()">
                <mat-icon>logout</mat-icon>
            </button>
        </div>
    </mat-toolbar-row>
</mat-toolbar>
    <mat-sidenav-container>
        <!-- Left sidenav -->
        <mat-sidenav *ngIf="isLoggedIn" mode="side" opened class="side-nav-detail">
            <mat-nav-list>
                <li><a routerLink="/task-board" mat-button>Task Board</a></li>
                <li><a routerLink="/projects" mat-button>Projects</a></li>
                <li><a routerLink="/users" mat-button>Users</a></li>
            </mat-nav-list>
        </mat-sidenav>

        <!-- Main page content -->
        <mat-sidenav-content>
            <router-outlet></router-outlet>
        </mat-sidenav-content>

    </mat-sidenav-container>