.basic-input {
  padding:5px;
}

.desc-input{
  padding: 5px;
  width: 430px;
}

.dialog {
  height: 700px;
  width: 700px;

}

:host {
  padding-top: 30px;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}