<h3 mat-dialog-title>Create New Sprint</h3>
<mat-dialog-content>
    <form [formGroup]="sprintForm">
        <mat-form-field class="basic-input">
            <mat-label>Name</mat-label>
            <input matInput formControlName="name" />
        </mat-form-field>
        <mat-form-field class="basic-input">
            <mat-label>Project</mat-label>
            <mat-select formControlName="type">
                @for (currentProject of currentProject; track currentProject) {
                <mat-option [value]="currentProject.value">{{currentProject.name}}</mat-option>
                }
            </mat-select>
        </mat-form-field>
        <mat-form-field class="start-date">
            <mat-label>Start Date</mat-label>
            <input matInput [matDatepicker]="picker" formControlName="start-date" />
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>
        <div></div>
        <mat-form-field class="end-date">
            <mat-label>End Date</mat-label>
            <input matInput [matDatepicker]="picker" formControlName="end-date" />
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>
    </form>
</mat-dialog-content>
<mat-dialog-actions>
    <button mat-button (click)="cancel()">Cancel</button>
    <button mat-button cdkFocusInitial (click)="submit()">Create</button>
</mat-dialog-actions> 